/*#actiontarget {*/
/*-fx-fill: FIREBRICK;*/
/*-fx-font-weight: bold;*/
/*-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);*/
/*}*/

#region_delimiter {
    -fx-background-color: #ffffff;
}

.toggle-button {
    -fx-background-image: url('/menu/images/supersearch_pressed.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.toggle-button:selected {
    -fx-background-image: url('/menu/images/supersearch.png');
}

#save_results_img {
    -fx-min-height: 90px;
    -fx-min-width: 90px;
    -fx-background-image: url("/menu/images/save.png");
    -fx-background-size: 80px 80px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

.button {
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-background-color: #229591;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.button:pressed {
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-background-color: #186a67;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.check-box {
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-background-color: #229591;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.choice-box {
    -fx-text-fill: #000000;
    -fx-background-color: #229591;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}